<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC28SjWqVA_9stQDCr9jSP3U6GWrbxs2cQ</string>
	<key>GCM_SENDER_ID</key>
	<string>306144619621</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ezblog</string>
	<key>PROJECT_ID</key>
	<string>ezblog-e46a4</string>
	<key>STORAGE_BUCKET</key>
	<string>ezblog-e46a4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:306144619621:ios:c14b22bbc3d6bf51b5ea8c</string>
</dict>
</plist>